In [1]:
import pandas as pd
import numpy as np
import math
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('2022_LoL_esports_match_data_from_OraclesElixir_20221104.csv',low_memory=False)

In [3]:
df.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,121.0,391.0,345.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,100.0,541.0,-275.0,-11.0,2.0,3.0,2.0,0.0,5.0,1.0
2,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,119.0,-475.0,153.0,1.0,0.0,3.0,0.0,3.0,3.0,2.0
3,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,149.0,-793.0,-1343.0,-34.0,2.0,1.0,2.0,3.0,3.0,0.0
4,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,21.0,443.0,-497.0,7.0,1.0,2.0,2.0,0.0,6.0,2.0

In [4]:
mask = ['JD Gaming', 'Top Esports', 'EDward Gaming', 'Gen.G', 'T1', 'DWG KIA', 'Rogue', 'G2 Esports', 'Cloud9',
        '100 Thieves', 'CTBC Flying Oyster', 'GAM Esports', 'Fnatic', 'Royal Never Give Up', 'DRX', 'Evil Geniuses']
results = []
for i in range(len(mask)):
    results.append(df[df['league'] == mask[i]])
#df[df['league'] == 'LCK']
#print(type(results[0]))

In [5]:
df2 = pd.concat(results)

In [6]:
df.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,121.0,391.0,345.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,100.0,541.0,-275.0,-11.0,2.0,3.0,2.0,0.0,5.0,1.0
2,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,119.0,-475.0,153.0,1.0,0.0,3.0,0.0,3.0,3.0,2.0
3,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,149.0,-793.0,-1343.0,-34.0,2.0,1.0,2.0,3.0,3.0,0.0
4,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,21.0,443.0,-497.0,7.0,1.0,2.0,2.0,0.0,6.0,2.0

In [7]:
df2.corr()

<ipython-input-7-e0c6714eb3b3>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr()

,year,playoffs,game,patch,participantid,gamelength,result,kills,deaths,assists,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playoffs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
game,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
patch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
participantid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
assistsat15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deathsat15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
opp_killsat15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
opp_assistsat15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
opp_deathsat15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df3 = df[(df['position'] == 'team')]
mask = ['JD Gaming', 'Top Esports', 'EDward Gaming', 'Gen.G', 'T1', 'DWG KIA', 'Rogue', 'G2 Esports', 'Cloud9',
        '100 Thieves', 'CTBC Flying Oyster', 'GAM Esports', 'Fnatic', 'Royal Never Give Up', 'DRX', 'Evil Geniuses']
results = []
for i in range(len(mask)):
    results.append(df3[df3['teamname'] == mask[i]])
df3 = pd.concat(results)
columns = list(df3.columns)
copy = columns
print(type(copy))
keep = ['datacompleteness','side', 'split', 'teamname', 'gamelength', 'result',
        'kills','deaths','assists','teamkills','teamdeaths','firstblood',  'team kpm', 'ckpm', 'damagetochampions', 
        'dpm', 'damagetakenperminute','elders', 'opp_elders','firstherald','heralds','opp_heralds','firstbaron','barons',
        'opp_barons', 'firsttower','towers','opp_towers','totalgold', 'earnedgold', 'earned gpm', 
        'goldspent', 'gspd']
for key in keep:
    copy.remove(key)
df3 = df3.drop(copy, axis=1)
pd.set_option('display.max_columns', None)
df3.shape
mask = df3['datacompleteness'] == 'partial'
partial = 0
for i in mask:
    if i == True:
        partial += 1
print(partial)

<class 'list'>
447

Take a look at the statistics for teams only, focus on stats relating kills/gold/dmg, assign ranking value based on performance during regular season (which iterate through with a for loop), use these values to predict final winner.

In [13]:
data = df3[df3["datacompleteness"]== "complete"]

In [14]:
data

,datacompleteness,split,side,teamname,gamelength,result,kills,deaths,assists,teamkills,teamdeaths,firstblood,team kpm,ckpm,elders,opp_elders,firstherald,heralds,opp_heralds,firstbaron,barons,opp_barons,firsttower,towers,opp_towers,damagetochampions,dpm,damagetakenperminute,totalgold,earnedgold,earned gpm,goldspent,gspd
138346,complete,NaN,Blue,JD Gaming,1786,1,24,14,64,24,14,1.0,0.8063,1.2766,0.0,0.0,1.0,2.0,0.0,1.0,1.0,0.0,0.0,9.0,2.0,66630.0,2238.4099,2817.0101,60517,40922.0,1374.7592,54700.0,0.149143
138683,complete,NaN,Red,JD Gaming,2213,1,18,11,48,18,11,0.0,0.4880,0.7863,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,9.0,4.0,79332.0,2150.8902,2628.0976,70689,46738.0,1267.1848,64135.0,0.063297
138766,complete,NaN,Blue,JD Gaming,2080,1,15,15,36,15,15,0.0,0.4327,0.8654,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,10.0,4.0,92313.0,2662.8750,2553.9519,64503,41909.0,1208.9135,55725.0,-0.076790
140255,complete,NaN,Red,JD Gaming,1504,1,17,6,28,17,6,1.0,0.6782,0.9176,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,11.0,1.0,74476.0,2971.1170,2823.5904,55898,39179.0,1562.9920,47585.0,0.252411
140279,complete,NaN,Red,JD Gaming,1692,1,17,10,38,17,10,0.0,0.6028,0.9574,0.0,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,10.0,2.0,75775.0,2687.0567,2952.3404,60278,41642.0,1476.6667,50450.0,0.095861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138610,complete,NaN,Blue,Evil Geniuses,1654,0,2,19,5,2,19,0.0,0.0726,0.7618,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,2.0,9.0,55053.0,1997.0859,3318.4281,42635,24386.0,884.6191,40475.0,-0.093612
138791,complete,NaN,Red,Evil Geniuses,1768,0,8,12,15,8,12,0.0,0.2715,0.6787,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,7.0,40835.0,1385.8032,3043.7783,47488,28076.0,952.8054,45183.0,-0.063579
140243,complete,NaN,Red,Evil Geniuses,1950,1,15,3,33,15,3,1.0,0.4615,0.5231,0.0,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,11.0,1.0,66734.0,2053.3538,2587.6308,64343,43075.0,1325.3846,55608.0,0.186967
140254,complete,NaN,Blue,Evil Geniuses,1504,0,6,17,10,6,17,0.0,0.2394,0.9176,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,11.0,43815.0,1747.9388,3777.8856,37765,21046.0,839.6011,36920.0,-0.252411
140290,complete,NaN,Blue,Evil Geniuses,1687,0,8,21,16,8,21,1.0,0.2845,1.0314,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,11.0,61025.0,2170.4209,3347.8364,44522,25937.0,922.4778,42800.0,-0.188360

In [16]:
data = data.drop(columns=["split"])

In [17]:
data

,datacompleteness,side,teamname,gamelength,result,kills,deaths,assists,teamkills,teamdeaths,firstblood,team kpm,ckpm,elders,opp_elders,firstherald,heralds,opp_heralds,firstbaron,barons,opp_barons,firsttower,towers,opp_towers,damagetochampions,dpm,damagetakenperminute,totalgold,earnedgold,earned gpm,goldspent,gspd
138346,complete,Blue,JD Gaming,1786,1,24,14,64,24,14,1.0,0.8063,1.2766,0.0,0.0,1.0,2.0,0.0,1.0,1.0,0.0,0.0,9.0,2.0,66630.0,2238.4099,2817.0101,60517,40922.0,1374.7592,54700.0,0.149143
138683,complete,Red,JD Gaming,2213,1,18,11,48,18,11,0.0,0.4880,0.7863,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,9.0,4.0,79332.0,2150.8902,2628.0976,70689,46738.0,1267.1848,64135.0,0.063297
138766,complete,Blue,JD Gaming,2080,1,15,15,36,15,15,0.0,0.4327,0.8654,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,10.0,4.0,92313.0,2662.8750,2553.9519,64503,41909.0,1208.9135,55725.0,-0.076790
140255,complete,Red,JD Gaming,1504,1,17,6,28,17,6,1.0,0.6782,0.9176,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,11.0,1.0,74476.0,2971.1170,2823.5904,55898,39179.0,1562.9920,47585.0,0.252411
140279,complete,Red,JD Gaming,1692,1,17,10,38,17,10,0.0,0.6028,0.9574,0.0,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,10.0,2.0,75775.0,2687.0567,2952.3404,60278,41642.0,1476.6667,50450.0,0.095861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138610,complete,Blue,Evil Geniuses,1654,0,2,19,5,2,19,0.0,0.0726,0.7618,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,2.0,9.0,55053.0,1997.0859,3318.4281,42635,24386.0,884.6191,40475.0,-0.093612
138791,complete,Red,Evil Geniuses,1768,0,8,12,15,8,12,0.0,0.2715,0.6787,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,7.0,40835.0,1385.8032,3043.7783,47488,28076.0,952.8054,45183.0,-0.063579
140243,complete,Red,Evil Geniuses,1950,1,15,3,33,15,3,1.0,0.4615,0.5231,0.0,0.0,1.0,2.0,0.0,1.0,2.0,0.0,1.0,11.0,1.0,66734.0,2053.3538,2587.6308,64343,43075.0,1325.3846,55608.0,0.186967
140254,complete,Blue,Evil Geniuses,1504,0,6,17,10,6,17,0.0,0.2394,0.9176,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,11.0,43815.0,1747.9388,3777.8856,37765,21046.0,839.6011,36920.0,-0.252411
140290,complete,Blue,Evil Geniuses,1687,0,8,21,16,8,21,1.0,0.2845,1.0314,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,11.0,61025.0,2170.4209,3347.8364,44522,25937.0,922.4778,42800.0,-0.188360

In [25]:
data.to_csv("cleaned_data.csv", index=False)